/*eto ung walang jsscript*/
.container{
  max-width: 960px;
  margin: 0 auto;
  background-color: #f9f9f9f9;
  font-size: 24px;
  padding:25px;
}
.parallax{
  background-image:url("../images/image-1.jpg");
  background-repeat: no-repeat;
  background-position:center; 
  background-size: cover;
  background-attachment: fixed;
  height:500px;
}

/**********parallax with js***********/
/*.parallax-window {
    min-height: 400px;
    background: transparent;
}
p{
  z-index: 2;
  position: relative;
}*/